.btn {
  font-family: "GT Walsheim Pro Black";
  font-size: 17px;
  border-radius: 0;
  border: 4px solid $asphalt-black;
  width: 250px;
  max-width: 100%;
  margin: 5px 0;
  padding: 12px 0;
  transition: all ease-in-out 0.3s;
}

.btn-dark {
  background-color: $asphalt-black;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $asphalt-black;
  }
}

.btn-transparent {
  background-color: transparent;
  color: $asphalt-black;

  &:hover,
  &:focus {
    background-color: $asphalt-black;
    border: 4px solid $asphalt-black;
    color: $white;
  }
}

.btn-blue {
  background-color: $azure-blue;
  border: 4px solid $azure-blue;
  color: $white;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $azure-blue;
  }
}
