.home {
  background: rgb(246, 233, 242);
  background: linear-gradient(
    0deg,
    rgba(246, 233, 242, 1) 0%,
    rgba(245, 204, 137, 1) 100%
  );
  @media only screen and (min-width: 600px) {
    height: 100vh;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  h1 {
    font-size: 28px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    text-align: center;
  }

  .home-form {
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 60px 30px 40px;
    width: 100%;
    max-width: 450px;
    z-index: 1;

    label {
      font-family: "Roboto", sans-serif;
    }

    .form-control {
      border: 4px solid $asphalt-black;
      border-radius: 0;
      height: 56px;
    }

    .btn {
      font-size: 24px;
      width: 100%;
    }
  }
}
