.leaderboard-container {
  background: rgb(246, 233, 242);
  background: linear-gradient(
    0deg,
    rgba(246, 233, 242, 1) 0%,
    rgba(245, 204, 137, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  @media only screen and (min-width: 600px) {
    height: 100vh;
  }

  .btn-container {
    text-align: right;
  }
  .closeBtn {
    color: $font-main;
    background-color: transparent;
    width: 50px;
    padding: 0%;
    border: none;
  }

  .sustaingame-img {
    display: block;
    margin: 0 auto 40px;
    max-width: 120px;
  }

  .score-table {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    overflow-y: scroll;
    text-align: center;

    .align-right {
      text-align: right;
    }
  }

  .leaderboard-exit {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .small-container {
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px 30px 60px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 2px 4px 0px rgba(31, 37, 50, 0.2);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(31, 37, 50, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(31, 37, 50, 0.2);

    h1 {
      font-size: 36px;
      letter-spacing: 1.7px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
