.quiz-container {
  background: rgb(246, 233, 242);
  background: linear-gradient(
    0deg,
    rgba(246, 233, 242, 1) 0%,
    rgba(245, 204, 137, 1) 100%
  );
  @media only screen and (min-width: 600px) {
    height: 100vh;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  h1 {
    font-size: 22px;
    padding: 15px 0 0;
  }

  .quiz {
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px 30px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 2px 4px 0px rgba(31, 37, 50, 0.2);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(31, 37, 50, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(31, 37, 50, 0.2);
    z-index: 1;
  }

  .question-count,
  .score,
  .result p {
    font-family: "GT Walsheim Pro Black";
  }

  .question-count {
    font-size: 20px;
    padding-top: 5px;
  }

  .score {
    border: 4px solid $caution-yellow;
    border-radius: 50px;
    font-size: 14px;
    padding: 4px 8px;
  }

  .crazyTimer {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  .btn-outline-secondary {
    background-color: transparent;
    color: $asphalt-black;

    &:hover,
    &:focus {
      background-color: $asphalt-black;
      border: 4px solid $asphalt-black;
      color: $white;
    }
  }

  .correct-result,
  .wrong-result {
    font-size: 18px;
  }

  .correct-result {
    color: #40792f;
  }

  .wrong-result {
    color: #8f3814;
  }

  .correct-bonus,
  .wrong-points {
    color: $asphalt-black;
    font-size: 12px;
  }
}

.quiz-header {
  display: flex;
  justify-content: space-between;
}

.answer-column {
  display: flex;
  flex-direction: column;

  .answer-btn {
    width: 100%;
    margin: 5px auto;
  }
}

.score-info {
  .correct-emoji {
    display: flex;
    align-items: center;
    padding-right: 10px;
    img {
      height: 25px;
      width: 25px;
    }
  }
}

.correct {
  background-color: #40792f !important;
  border: 4px solid $leaf-green !important;
  color: white !important;
}

.wrong {
  background-color: #8f3814 !important;
  border: 4px solid $safety-orange !important;
  color: white !important;
}

.not-active {
  pointer-events: none;
}
