.initialsContainer {
    background-color: $background;
    color: $font-main;
    margin-top: 3rem;
    margin: 1rem;

    .score {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
    }
    .scoreText {
      font-weight: bold;
      text-align: center;
    }
    .closeBtn {
        color: $font-main;
        background-color: transparent;
        margin-left: 70%;
        width:50px;
        padding: 0%;
        border: none;
    }
    hr {
        color: $font-main;
        background-color: $font-main;
        height: 1px;
    }
  }
