.initialsWrapper {
    background: rgb(246, 233, 242);
    background: linear-gradient(
        0deg,
        rgba(246, 233, 242, 1) 0%,
        rgba(245, 204, 137, 1) 100%
    );
    padding-top: 5rem;
    @media only screen and (min-width: 600px) {
        height: 100vh;
      }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.initialsContainer {
    color: $font-main;
    background-color: $white;
    border-radius: 20px;
    margin: 0 auto 40px auto;
    padding: 40px 30px 40px;
    width: 100%;
    max-width: 450px;

    input-label {
        margin: 1rem 0;
    }
    
    h3 {
        font-family: "GT Walsheim Pro Black";
        margin-bottom: 2rem;
    }

    .text-small {
        font-size: 50%;
    }

    .form-control {
        border: 4px solid $asphalt-black;
        border-radius: 0;
        height: 56px;
    }

    .score {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
    }
    .scoreText {
      font-weight: bold;
      text-align: center;
      font-family: "GT Walsheim Pro Black";
    }
    .btn-container {
        text-align: right;
    }
    .closeBtn {
        color: $font-main;
        background-color: transparent;
        width:50px;
        padding: 0%;
        border: none;
    }
    hr {
        color: $font-main;
        background-color: $font-main;
        height: 1px;
    }
}
