.thanksContainer {
  background: rgb(246, 233, 242);
  background: linear-gradient(
    0deg,
    rgba(246, 233, 242, 1) 0%,
    rgba(245, 204, 137, 1) 100%
  );
  @media only screen and (min-width: 600px) {
    height: 100vh;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  h1 {
    font-size: 28px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    text-align: center;
  }
  .wrapper {
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 60px 30px 40px;
    width: 100%;
    max-width: 450px;
  }
  button {
    width: 100%;
    background-color: black;
  }
  .logo {
    margin-bottom: 20px;
    max-width: 100%;
    width: 180px;
  }
}