$background: #fff;
$font-main: #343434;

// Primary Colors
$caution-yellow: #fbab18;
$asphalt-black: #343434;
$safety-orange: #f26722;
$white: #fff;

// Secondary Colors
$azure-blue: #3578bd;
$precious-purple: #b94d9c;
$leaf-green: #62bb46;
